<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>de.icab.iCab.help</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>iCab</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>6</string>
	<key>CFBundleSignature</key>
	<string>hbwr</string>
	<key>CFBundleVersion</key>
	<string>6</string>
	<key>HPDBookAccessPath</key>
	<string>index.html</string>
	<key>HPDBookCSIndexPath</key>
	<string>help.cshelpindex</string>
	<key>HPDBookIndexPath</key>
	<string>help.helpindex</string>
	<key>HPDBookTitle</key>
	<string>iCab.help</string>
	<key>HPDBookType</key>
	<string>3</string>
	<key>HPDBookKBProduct</key>
	<string>icab</string>
	<key>HPDBookUsesExternalViewer</key>
	<false/>
</dict>
</plist>