<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Google</string>
		<key>icon</key>
		<string>SE_Google</string>
		<key>key</key>
		<string>g</string>
		<key>url</key>
		<string>https://www.google.com/search?q=%@</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Bing</string>
		<key>icon</key>
		<string>SE_Bing</string>
		<key>key</key>
		<string>b</string>
		<key>url</key>
		<string>https://www.bing.com/search?q=%@</string>
	</dict>
	<dict>
		<key>title</key>
		<string>DuckDuckGo</string>
		<key>icon</key>
		<string>SE_DDG</string>
		<key>key</key>
		<string>d</string>
		<key>url</key>
		<string>https://duckduckgo.com/?q=%@</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Presearch</string>
		<key>icon</key>
		<string>SE_Presearch</string>
		<key>key</key>
		<string>p</string>
		<key>url</key>
		<string>https://engine.presearch.org/search?q=%@</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Qwant</string>
		<key>icon</key>
		<string>SE_Qwant</string>
		<key>key</key>
		<string>q</string>
		<key>url</key>
		<string>https://www.qwant.com/?q=%@</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Ecosia</string>
		<key>icon</key>
		<string>SE_Ecosia.png</string>
		<key>url</key>
		<string>https://www.ecosia.org/search?q=%@</string>
	</dict>
	<dict>
		<key>title</key>
		<string>You</string>
		<key>icon</key>
		<string>SE_You</string>
		<key>url</key>
		<string>https://you.com/search?q=%@</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Brave Search</string>
		<key>icon</key>
		<string>SE_Brave</string>
		<key>url</key>
		<string>https://search.brave.com/search?source=web&amp;q=%@</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Gigablast</string>
		<key>icon</key>
		<string>SE_Gigablast</string>
		<key>url</key>
		<string>https://gigablast.com/search?c=main&amp;q=%@</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Mojeek</string>
		<key>icon</key>
		<string>SE_Mojeek</string>
		<key>url</key>
		<string>https://www.mojeek.com/search?q=%@</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Youtube</string>
		<key>icon</key>
		<string>SE_YouTube</string>
		<key>url</key>
		<string>https://www.youtube.com/results?q=%@</string>
		<key>key</key>
		<string>y</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Twitter</string>
		<key>icon</key>
		<string>SE_Twitter</string>
		<key>url</key>
		<string>https://twitter.com/search?src=typed_query&amp;q=%@</string>
		<key>key</key>
		<string>t</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Wolfram Alpha</string>
		<key>icon</key>
		<string>SE_Wolfram</string>
		<key>url</key>
		<string>https://www.wolframalpha.com/input/?i=%@</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Wikipedia (en)</string>
		<key>icon</key>
		<string>SE_Wikipedia</string>
		<key>url</key>
		<string>https://en.wikipedia.org/w/index.php?title=Special%3ASearch&amp;search=%@</string>
		<key>key</key>
		<string>w</string>
	</dict>
	<dict>
		<key>title</key>
		<string>IMDb</string>
		<key>icon</key>
		<string>SE_IMDb</string>
		<key>url</key>
		<string>https://www.imdb.com/find?s=all&amp;q=%@</string>
		<key>key</key>
		<string>i</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Yahoo</string>
		<key>icon</key>
		<string>SE_Yahoo</string>
		<key>url</key>
		<string>https://search.yahoo.com/bin/search?p=%@</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Startpage</string>
		<key>icon</key>
		<string>SE_SP</string>
		<key>key</key>
		<string>s</string>
		<key>url</key>
		<string>https://www.startpage.com/sp/search?cat=web&amp;query=%@</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Lycos</string>
		<key>icon</key>
		<string>SE_Lycos</string>
		<key>key</key>
		<string>l</string>
		<key>url</key>
		<string>https://search.lycos.com/?query=%@</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Ebay USA</string>
		<key>icon</key>
		<string>SE_Ebay</string>
		<key>key</key>
		<string>e</string>
		<key>url</key>
		<string>https://www.ebay.com/sch/i.html?_nkw=%@</string>
	</dict>
</array>
</plist>
