<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Youtube Shorts -&gt; Youtube</string>
		<key>id</key>
		<string>yt-s</string>
		<key>description</key>
		<string>Redirects Youtube Shorts videos to the regular Youtube video pages, if available.</string>
		<key>filter</key>
		<string>*.youtube.com/shorts/*</string>
		<key>rules</key>
		<array>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>src</key>
				<string>/shorts/</string>
				<key>dest</key>
				<string>/watch?v=</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>rules</key>
		<array>
			<dict>
				<key>src</key>
				<string>list</string>
				<key>action</key>
				<integer>6</integer>
				<key>dest</key>
				<string></string>
			</dict>
			<dict>
				<key>src</key>
				<string>index</string>
				<key>action</key>
				<integer>6</integer>
				<key>dest</key>
				<string></string>
			</dict>
			<dict>
				<key>src</key>
				<string>pp</string>
				<key>dest</key>
				<string></string>
				<key>action</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>src</key>
				<string>hl</string>
				<key>dest</key>
				<string></string>
				<key>action</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>src</key>
				<string>persist_hl</string>
				<key>dest</key>
				<string></string>
				<key>action</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>src</key>
				<string>t</string>
				<key>dest</key>
				<string></string>
				<key>action</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>src</key>
				<string>youtube.com/watch?v=</string>
				<key>dest</key>
				<string>youtube-nocookie.com/embed/</string>
				<key>action</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>src</key>
				<string>://m.youtube</string>
				<key>dest</key>
				<string>://www.youtube</string>
			</dict>
			<dict>
				<key>src</key>
				<string>*.youtube.com/embed/*</string>
				<key>action</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>src</key>
				<string>*.youtube-nocookie.com/embed/*</string>
				<key>action</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>param</key>
				<string>hl</string>
				<key>value</key>
				<string>en</string>
				<key>action</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>param</key>
				<string>persist_hl</string>
				<key>value</key>
				<string>1</string>
				<key>action</key>
				<integer>10</integer>
			</dict>
		</array>
		<key>title</key>
		<string>Youtube Embedded Player</string>
		<key>id</key>
		<string>yt-e</string>
		<key>description</key>
		<string>Redirects Youtube videos to the &apos;embedded&apos; video player, if available. Removing all clutter from the original Youtube page, displaying the video only (usually also without ads).</string>
		<key>filter</key>
		<string>*.youtube.com/watch?v=*</string>
	</dict>
	<dict>
		<key>rules</key>
		<array>
			<dict>
				<key>param</key>
				<string>hl</string>
				<key>value</key>
				<string>en</string>
				<key>action</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>param</key>
				<string>persist_hl</string>
				<key>value</key>
				<string>1</string>
				<key>action</key>
				<integer>10</integer>
			</dict>
		</array>
		<key>title</key>
		<string>Youtube - Disable Auto-Translate</string>
		<key>id</key>
		<string>yt-t</string>
		<key>description</key>
		<string>Overrides the auto-translate feature for Youtube videos and sets English as Default language. Change the &quot;hl&quot; parameter to set another language as default</string>
		<key>filter</key>
		<string>*.youtube.com/watch?v=*</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Reddit -&gt; Old Reddit</string>
		<key>description</key>
		<string>Redirects to the old Reddit page layout</string>
		<key>id</key>
		<string>red</string>
		<key>filter</key>
		<string>*://www.reddit.com/*</string>
		<key>rules</key>
		<array>
			<dict>
				<key>action</key>
				<integer>1</integer>
				<key>src</key>
				<string>www</string>
				<key>dest</key>
				<string>old</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Resolve Google AMP (Classic)</string>
		<key>id</key>
		<string>g-amp-c</string>
		<key>description</key>
		<string>Opens the original page instead of the Google AMP version from within google search results</string>
		<key>filter</key>
		<string>*://www.google.com/amp/s/*</string>
		<key>rules</key>
		<array>
			<dict>
				<key>action</key>
				<real>0</real>
				<key>src</key>
				<string>*/amp/s/</string>
				<key>dest</key>
				<string>https://</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>2</integer>
				<key>src</key>
				<string>/amp/</string>
				<key>dest</key>
				<string>/</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>2</integer>
				<key>src</key>
				<string>/amp</string>
				<key>dest</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Resolve Google AMP (New)</string>
		<key>description</key>
		<string>Opens the original page instead of the Google AMP version from within google search results</string>
		<key>id</key>
		<string>g-amp-n</string>
		<key>filter</key>
		<string>*.cdn.ampproject.org/?/?/*</string>
		<key>rules</key>
		<array>
			<dict>
				<key>action</key>
				<real>0</real>
				<key>src</key>
				<string>*.cdn.ampproject.org/?/?/</string>
				<key>dest</key>
				<string>https://</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>2</integer>
				<key>src</key>
				<string>/amp/</string>
				<key>dest</key>
				<string>/</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>2</integer>
				<key>src</key>
				<string>/amp</string>
				<key>dest</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Remove Google search redirections</string>
		<key>description</key>
		<string>Opens the original page directly from within google search results instead of direrecting the browser through the google server first</string>
		<key>id</key>
		<string>g-s</string>
		<key>filter</key>
		<string>*.google.com/url*?*url=*</string>
		<key>rules</key>
		<array>
			<dict>
				<key>action</key>
				<integer>7</integer>
				<key>src</key>
				<string>url</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Remove Tracking (Google)</string>
		<key>filter</key>
		<string>*.google.com/*</string>
		<key>id</key>
		<string>g-t</string>
		<key>description</key>
		<string>Removes tracking parameters from Goggle links</string>
		<key>rules</key>
		<array>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>ei</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>gs_gbg</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>gs_l</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>gs_lcp</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>gs_mss</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>gs_rn</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>gws_rd</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>sei</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>ved</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Remove Tracking (Bing)</string>
		<key>id</key>
		<string>b-t</string>
		<key>description</key>
		<string>Removes tracking parameters from Bing links</string>
		<key>filter</key>
		<string>*.bing.com/*</string>
		<key>rules</key>
		<array>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>cvid</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>form</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>pq</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>qs</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>sc</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>sk</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>sp</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Remove Tracking (Ebay)</string>
		<key>id</key>
		<string>e-t</string>
		<key>description</key>
		<string>Removes tracking parameters from Ebay links</string>
		<key>filter</key>
		<string>*.ebay.*</string>
		<key>rules</key>
		<array>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>_trkparms</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>_trksid</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>amdata</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>epid</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>hash</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>var</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Remove Tracking (Facebook)</string>
		<key>description</key>
		<string>Removes tracking parameters from Facebook links</string>
		<key>id</key>
		<string>f-t</string>
		<key>filter</key>
		<string>*.facebook.com/*</string>
		<key>rules</key>
		<array>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>fb_action_ids</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>fb_action_types</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>fb_ref</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>fb_source</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>fbclid</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>hrc</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>refsrc</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Remove Tracking (Amazon)</string>
		<key>id</key>
		<string>a-t</string>
		<key>description</key>
		<string>Removes tracking parameters from Amazon links</string>
		<key>filter</key>
		<string>*.amazon.*</string>
		<key>rules</key>
		<array>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>ga_*</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>pd_rd_*</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>pf_rd_*</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>pd_rd_*</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>pd_rd_*</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>_encoding</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>ascsubtag</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>pf</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>psc</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>ref_</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>tag</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>ref</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>content-id</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Remove Tracking (General)</string>
		<key>description</key>
		<string>Removes common tracking parameters from links of all web sites</string>
		<key>id</key>
		<string>trck</string>
		<key>filter</key>
		<string>*=*</string>
		<key>rules</key>
		<array>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>ga_*</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>itm_*</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>mtm_*</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>pk_*</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>ns_*</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>stm_*</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>utm_*</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>gclid</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>gclsrc</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>sc_cid</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>mkt_tok</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>s_cid</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>sc_campaign</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>sc_channel</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>sc_content</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>sc_country</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>sc_geo</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>sc_medium</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>sc_outcome</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>nr_email_referer</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>c_id</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>campaign_id</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>cmpid</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>mbid</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>6</integer>
				<key>src</key>
				<string>ncid</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>filter</key>
		<string>*.app.link/*product=open*</string>
		<key>id</key>
		<string>a-lnk</string>
		<key>rules</key>
		<array>
			<dict>
				<key>action</key>
				<integer>5</integer>
				<key>dest</key>
				<string></string>
				<key>src</key>
				<string>*</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>4</integer>
				<key>dest</key>
				<string></string>
				<key>src</key>
				<string>*</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>dest</key>
				<string></string>
				<key>src</key>
				<string>https://</string>
			</dict>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>dest</key>
				<string>:/</string>
				<key>src</key>
				<string>.app.link</string>
			</dict>
		</array>
		<key>title</key>
		<string>Open App (via app.link) </string>
	</dict>
</array>
</plist>
